<h1>HW0919</h1>

In [ ]:
print("Hello World")

In [ ]:
a = 1
b = c = a
print(a,b,c)

1 1 1

In [ ]:
a = 2
b = a
print(a,b)

2 2

<h1>list</h1>

In [ ]:
a = "JIGDSOKF"
print(a)

JIGDSOKF

In [ ]:
a = '0123456789abcdef'
print(a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579

In [12]:
a = ['apple','banana','orange']
b = ['1,2,3,4,5']
c = ['apple',1,2,3,'dog','cat']
d = list('apple')
print(a,b,c,d)

['apple', 'banana', 'orange'] ['1,2,3,4,5'] ['apple', 1, 2, 3, 'dog', 'cat'] ['a', 'p', 'p', 'l', 'e']

<h1>string/split</h1>

In [9]:
a = 'hello world'
print(len(a))

11

In [11]:
a = 'hello world, I am oxxo, how are you?'
b = a.split(',')
c = a.split(' ')
d = a.split()
print(b)
print(c)
print(d)

['hello world', ' I am oxxo', ' how are you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']

<h1>tuple</h1>

In [15]:
t = ('apple','banana','orange','grape')
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grape

In [16]:
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grape

In [17]:
t1 = ('apple','banana','orange')
t2 = ('grape','pineapple')
t = t1 + t2
print(t)

('apple', 'banana', 'orange', 'grape', 'pineapple')

In [19]:
a = dict(name='oxxo',age=18,eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

<h1>def</h1>

In [20]:
def test(x, y, z):
  return x+1, y+1, z+1
a = test(1, 2, 3)
print(a)

(2, 3, 4)

<h1>if</h1>

In [25]:
a = 2
b = 3
if a < b:
  print('a<b')
  if a == 1:
    print('a=1')
  elif a == 2:
    print('a=2')
  elif a == 3:
    print('a=3')
elif a > b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=2
ok

In [26]:
a = 2
b = 3
c = 0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
  print('XXX')

XXX

<h1>for迴圈</h1>

In [27]:
for i in 'abc':
  print(i)

a
b
c

In [28]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [29]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

<h1>input</h1>

In [31]:
a = input('輸入數字：')
print(int(a)+1)

輸入數字：5
6

<h1>try/except</h1>

In [32]:
try:
  a = input('輸入數字：')
  print(a+1)
except:
  print('X')

輸入數字：5
X

<h1>append、串列生成式</h1>

In [34]:
a = []
for i in range(1,10):
  a.append(i*i)
print(a)

b = [j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]